In [28]:
import pandas as pd 
import numpy as np
from datetime import datetime as dt

In [29]:
df = pd.read_csv("superstore.csv", encoding = "latin1", parse_dates = ["Order Date", "Ship Date"])

In [5]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [7]:
null_counts = df.isnull().sum()
null_counts

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [20]:
df.groupby("Region").count()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Region,,,,,,,,,,,,,,,,,,,,
Central,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323,2323
East,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848,2848
South,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620,1620
West,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203,3203

In [30]:
type(df["Ship Date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [34]:
df.groupby("State")

In [36]:
df.groupby("State").agg("sum").reset_index()

,State,Row ID,Postal Code,Sales,Quantity,Discount,Profit
0,Alabama,243876,2195669,19510.6400,256,0.00,5786.8253
1,Arizona,1019876,19102126,35282.0010,862,68.00,-3427.9246
2,Arkansas,304575,4339309,11678.1300,240,0.00,4008.6871
3,California,10137449,184382639,457687.6315,7667,145.60,76381.3871
4,Colorado,797002,14613828,32108.1180,693,57.60,-6527.8579
5,Connecticut,444411,531005,13384.3570,281,0.60,3511.4918
6,Delaware,504370,1896504,27451.0690,367,0.60,9977.3748
7,District of Columbia,17918,200160,2865.0200,40,0.00,1059.5893
8,Florida,1958255,12640225,89473.7080,1379,114.65,-3399.3017
9,Georgia,883590,5685480,49095.8400,705,0.00,16250.0433
10,Idaho,129427,1752709,4382.4860,64,1.80,826.7231
11,Illinois,2571481,29873772,80166.1010,1845,191.90,-12607.8870
12,Indiana,728770,6991602,53555.3600,578,0.00,18382.9363
13,Iowa,142173,1537707,4579.7600,112,0.00,1183.8119
14,Kansas,125372,1603798,2914.3100,74,0.00,836.4435
15,Kentucky,698921,5725336,36591.7500,523,0.00,11199.6966
16,Louisiana,173625,2972649,9217.0300,156,0.00,2196.1023
17,Maine,46198,34725,1270.5300,35,0.00,454.4862
18,Maryland,556423,2206740,23705.5230,420,0.60,7031.1788
19,Massachusetts,708877,268295,28634.4340,491,2.10,6785.5016
20,Michigan,1200167,12356103,76269.6140,946,1.80,24463.1876
21,Minnesota,316645,4932224,29863.1500,331,0.00,10823.1874
22,Mississippi,250903,2077023,10771.3400,221,0.00,3172.9762
23,Missouri,325246,4298362,22205.1500,252,0.00,6436.2105
24,Montana,61438,892376,5589.3520,56,1.00,1833.3285
25,Nebraska,205384,2588614,7464.9300,136,0.00,2037.0942
26,Nevada,223546,3476337,16729.1020,168,2.40,3316.7659
27,New Hampshire,135645,93835,7292.5240,127,0.30,1706.5028
28,New Jersey,653855,1007934,35764.3120,454,0.60,9772.9138
29,New Mexico,166251,3241556,4783.5220,151,2.20,1157.1161
30,New York,5452096,11835721,310876.2710,4224,62.40,74038.5486
31,North Carolina,1219177,6994384,55603.1640,983,70.60,-7490.9122
32,North Dakota,36796,406721,919.9100,30,0.00,230.1497
33,Ohio,2355994,20579836,78258.1360,1759,152.40,-16971.3766
34,Oklahoma,328549,4863120,19683.3900,247,0.00,4853.9560
35,Oregon,652996,12072125,17431.1500,499,35.80,-1190.4705
36,Pennsylvania,2768523,11190565,116511.9140,2153,192.90,-15559.9603
37,Rhode Island,305385,162878,22627.9560,199,1.20,7285.6293
38,South Carolina,194095,1230068,8481.7100,172,0.00,1769.0566
39,South Dakota,48858,686730,1315.5600,42,0.00,394.8283
40,Tennessee,1068141,6890574,30661.8730,681,53.30,-5341.6936
41,Texas,5085541,75747693,170188.0458,3724,364.64,-25729.3563
42,Utah,193525,4462368,11220.0560,219,3.20,2546.5335
43,Vermont,91049,59488,8929.3700,50,0.00,2244.9783
44,Virginia,1218137,5124335,70636.7200,893,0.00,18597.9504
45,Washington,2584458,49661687,138641.2700,1883,32.40,33402.6517
46,West Virginia,33175,104012,1209.8240,18,0.30,185.9216
47,Wisconsin,570981,5899704,32114.6100,463,0.00,8401.8004
48,Wyoming,5870,82001,1603.1360,4,0.20,100.1960

In [39]:
df["Product Name"].value_counts()

Staple envelope                                                                        48
Staples                                                                                46
Easy-staple paper                                                                      46
Avery Non-Stick Binders                                                                20
Staples in misc. colors                                                                19
                                                                                       ..
Boston 1900 Electric Pencil Sharpener                                                   1
RCA ViSYS 25423RE1 Corded phone                                                         1
Canon Color ImageCLASS MF8580Cdw Wireless Laser All-In-One Printer, Copier, Scanner     1
Newell 342                                                                              1
Eldon Jumbo ProFile Portable File Boxes Graphite/Black                                  1
Name: Product Name, Length: 1850, dtype: int64

In [44]:
len(df["Product Name"])

9994

In [45]:
df["City"].value_counts()

New York City      915
Los Angeles        747
Philadelphia       537
San Francisco      510
Seattle            428
                  ...
Glenview             1
Missouri City        1
Rochester Hills      1
Palatine             1
Manhattan            1
Name: City, Length: 531, dtype: int64